<%= link_to new_recipe_path(), class: "d-flex justify-content-center" do %>
  <button class="btn btn-primary">New Recipe</button>
<% end %>

<div class="container mt-5">
  <% if @recipes.empty? %>
    <div class="text-center">
      <h1> No recipes to show </h1>
    <div>
  <% else %>
    <div class="card-header mb-3">
      <h3>My recipes</h3>
    </div>
    <% @recipes.each do |recipe| %>
      <div class="card">
        <%= link_to recipe_path(recipe), style: "text-decoration: none; color: black" do %>
          <div class="card-header">
            <h4><%= recipe.name %></h4>
          </div>
        <% end %>
        <div class="row">
          <div class="col-4 card-body">
            <%= button_to "Delete", recipe_path(recipe), method: :delete, data: { confirm: "Are you sure you want to delete this food item?" }, class: "btn btn-danger w-75" %>
          </div>
          <div class="col-8 card-body">
            <%= link_to recipe_path(recipe), style: "text-decoration: none; color: black" do %>
              <p class="card-text"><%= recipe.description %></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
