<h1>New Recipe</h1>
<%= form_with model: @recipe, url: recipes_path do |form| %>
  <div class="form">
    <div class="form-field">
      <%= form.label :name %> <br>
      <%= form.text_field :name, required: true %>
    </div>

    <div class="form-field">
      <%= form.label :preparation_time_in_hour %> <br>
      <%= form.text_field :preparation_time, required: true %>
    </div>

    <div class="form-field">
      <%= form.label :cooking_time_in_hour %> <br>
      <%= form.text_field :cooking_time, required: true %>
    </div>

    <div class="form-field">
      <%= form.label :public %> <br>
      <%= form.check_box :public %>
    </div>

    <div class="form-field">
      <%= form.label :recipe_description %> <br>
      <%= form.text_area :description, required: true %>
    </div>
    <%= form.submit %>
  </div>
<% end %>