<div class="container mt-3">
  <div class="jumbotron d-flex justify-content-around">
    <div>
      <h3 class="display-6"><%= @recipe.name %> by <%= @user.name %></h3>
      <p class="lead">Preparation Time: <%= @recipe.preparation_time %> hour</p>
      <p class="lead">Cooking Time: <%= @recipe.cooking_time %> hour</p>
      <hr class="my-4">
      <p class='recipe-text'><%= @recipe.description %></p>
    </div>
    <div>
      <%= form_with model: @recipe, url: recipe_path(@recipe), class: "form-check form-switch", method: :patch do |form| %>
        <%= form.check_box :public, class: "form-check-input", role: "switch", id: "flexSwitchCheckDefault", style: "cursor: pointer" %>
        <%= form.label :public, class: "form-check-label", for: "flexSwitchCheckDefault" %>
      <% end %>
    </div>
  </div>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#foodsModal">
    Add Ingredients
  </button>

  <%= render "food_list_modal", recipe: @recipe, food: @food %>

  <% if flash[:error] %>
    <div class="alert alert-danger"><%= flash[:error] %></div>
  <% end %>
  <%= render("recipe_foods/index", recipe_foods: @recipe_foods) %>


</div>

<script> 
  $(document).on('change', '#flexSwitchCheckDefault', function() {
    $(this).closest('form').submit();
  });
</script>