<h3>Available Food Items</h3>
<a href="/foods/new">
  <button type="button" class="btn btn-primary mb-3">Add food</button>
</a>
<table class="table mt-4">
  <thead class="thead-dark">
    <tr>
      <th>Food</th>
      <th>Available Quantity</th>
      <th>Measurement unit</th>
      <th>Unit price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <%@foods.each do |food|%>
  <tbody>
    <tr>
      <td><%= food.name %></td>
      <td><%= food.quantity %></td>
      <td><%= food.measurement_unit %></td>
      <td><%= food.price %></td>
      <td> 
        <%= link_to 'Destroy', "/foods/#{food.id}", data: {:confirm => 'Are you sure?'}, :method => :delete %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>

